.Logo {
    padding: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.Logo img {
    height: 100%;
}

@media only screen and (max-width: 736px) {
    .Logo {
        align-items: left;
    }
}